{% extends 'base.html.twig' %}

{% block title %}Hello ObjectifController!{% endblock %}

{% block body %}
 <div class="container-block-sbc col-8 mx-auto mt-5">
        <div class="border-bottom">
            <h2>Objectif</h2>
        </div>
        <p class="col-10">fh voi qsdqe jgeh gmqz hg zgh q hqegh qzoeg hzpqetg hezmo gheqogz efgoeqgfh zghzqfh z ze eifz ofh zeof jzzehf zigfuhz fogze gf iz hfqs hdfqsdhf qfh qhqzeo fhqofh zeof hof hefhzeo f</p>
        <div class="d-flex flex-row mt-3">
            <div class="col-6">
                <img src="{{asset('../img/objectif.jpg')}}" alt="" class="img-fluid">
                <a href="#">Aouar</a>
                <p>rghfndfug hrghq i ghsdgh ezaqoegf hjqohgfk shdgf qgiq sjhg qdg ud qsghsdflghddgyhqg hdsqg</p>
            </div>
            <div class="d-flex flex-row flex-wrap justify-content-end col-6 ">
                <div class="col-5 ms-5">
                    <img src="{{asset('../img/TOTY-1.jpg')}}" alt="" class="img-fluid">
                    <a href="#">Aouar</a>
                    <p>rghfndfug hrghq i ghsdgh ezaqoegf hjqohgfk shdgf qgiq sjhg qdg ud qsghsdflghddgyhqg hdsqg</p>
                </div>
                <div class="col-5 ms-5">
                    <img src="{{asset('../img/TOTY-1.jpg')}}" alt="" class="img-fluid">
                    <a href="#">Aouar</a>
                    <p>rghfndfug hrghq i ghsdgh ezaqoegf hjqohgfk shdgf qgiq sjhg qdg ud qsghsdflghddgyhqg hdsqg</p>
                    </div>
                <div class="col-5 ms-5">
                    <img src="{{asset('../img/TOTY-1.jpg')}}" alt="" class="img-fluid">
                    <a href="#">Aouar</a>
                    <p>rghfndfug hrghq i ghsdgh ezaqoegf hjqohgfk shdgf qgiq sjhg qdg ud qsghsdflghddgyhqg hdsqg</p>
                </div>
                <div class="col-5 ms-5">
                    <img src="{{asset('../img/TOTY-1.jpg')}}" alt="" class="img-fluid">
                    <a href="#">Aouar</a>
                    <p>rghfndfug hrghq i ghsdgh ezaqoegf hjqohgfk shdgf qgiq sjhg qdg ud qsghsdflghddgyhqg hdsqg</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
